USE [QLThuVien]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[EmployeeID] [int] NOT NULL,
	[Username] [nvarchar](30) NULL,
	[Password] [nvarchar](250) NULL,
	[CreateBy] [nvarchar](30) NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_Accounts_CreateDate]  DEFAULT (getdate()),
	[EditBy] [nvarchar](30) NULL,
	[EditDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL CONSTRAINT [DF_Accounts_Deleted]  DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Accounts] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookCode] [nvarchar](10) NULL,
	[Status] [bit] NOT NULL,
	[ReceiptDate] [datetime] NOT NULL,
	[BookTypeID] [int] NOT NULL,
	[CreateBy] [nvarchar](30) NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditBy] [nvarchar](30) NULL,
	[EditDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookTypes]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookTypes](
	[BookTypeID] [int] IDENTITY(1,1) NOT NULL,
	[BookTypeName] [nvarchar](250) NULL,
	[PublishingHouse] [nvarchar](250) NULL,
	[NumberOfPage] [int] NOT NULL,
	[Size] [nvarchar](15) NULL,
	[Author] [nvarchar](250) NULL,
	[Quantity] [int] NOT NULL,
	[SpecializedID] [int] NOT NULL,
	[CreateBy] [nvarchar](30) NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditBy] [nvarchar](30) NULL,
	[EditDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BookTypes] PRIMARY KEY CLUSTERED 
(
	[BookTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionID] [int] NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDay] [datetime] NOT NULL,
	[Sex] [bit] NOT NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [nvarchar](13) NULL,
	[UrlAvatar] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](30) NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_Employees_CreateDate]  DEFAULT (getdate()),
	[EditBy] [nvarchar](30) NULL,
	[EditDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL CONSTRAINT [DF_Employees_Deleted]  DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HireDetails]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HireDetails](
	[HireDetailID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[HireDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Penalty] [real] NOT NULL,
	[CreateBy] [nvarchar](30) NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditBy] [nvarchar](30) NULL,
	[EditDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.HireDetails] PRIMARY KEY CLUSTERED 
(
	[HireDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Members]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [nvarchar](10) NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[BirthDay] [datetime] NOT NULL,
	[Sex] [bit] NOT NULL,
	[Address] [nvarchar](250) NULL,
	[Phone] [nvarchar](13) NULL,
	[UrlAvatar] [nvarchar](100) NULL,
	[CreateBy] [nvarchar](30) NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditBy] [nvarchar](30) NULL,
	[EditDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](250) NULL,
	[QuanLy] [bit] NOT NULL,
	[ThuThu] [bit] NOT NULL,
	[CreateBy] [nvarchar](30) NULL,
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_Permissions_CreateDate]  DEFAULT (getdate()),
	[EditBy] [nvarchar](30) NULL,
	[EditDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL CONSTRAINT [DF_Permissions_Deleted]  DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specializeds]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializeds](
	[SpecializedID] [int] IDENTITY(1,1) NOT NULL,
	[SpecializedName] [nvarchar](250) NULL,
	[Descripstion] [nvarchar](500) NULL,
	[CreateBy] [nvarchar](30) NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditBy] [nvarchar](30) NULL,
	[EditDate] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Specializeds] PRIMARY KEY CLUSTERED 
(
	[SpecializedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Accounts] ([EmployeeID], [Username], [Password], [CreateBy], [CreateDate], [EditBy], [EditDate], [Deleted]) VALUES (10, N'1405199710', N'e10adc3949ba59abbe56e057f20f883e', N'admin', CAST(N'2018-05-16 12:43:24.590' AS DateTime), N'1405199710', CAST(N'2018-05-16 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Accounts] ([EmployeeID], [Username], [Password], [CreateBy], [CreateDate], [EditBy], [EditDate], [Deleted]) VALUES (11, N'1212199711', N'e10adc3949ba59abbe56e057f20f883e', N'1405199710', CAST(N'2018-05-16 12:49:00.340' AS DateTime), N'1212199711', CAST(N'2018-05-17 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Accounts] ([EmployeeID], [Username], [Password], [CreateBy], [CreateDate], [EditBy], [EditDate], [Deleted]) VALUES (12, N'0512199812', N'AFE0A0AA7A4D8573488EBB489F89CE92', N'1212199711', CAST(N'2018-05-17 13:05:54.677' AS DateTime), N'1212199711', CAST(N'2018-05-17 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [PermissionID], [FirstName], [LastName], [BirthDay], [Sex], [Address], [Phone], [UrlAvatar], [CreateBy], [CreateDate], [EditBy], [EditDate], [Deleted]) VALUES (10, 7, N'Đinh Quang', N'Minh', CAST(N'1997-05-14 00:00:00.000' AS DateTime), 1, N'Trên trời', N'123456789', N'10.png', N'admin', CAST(N'2018-05-16 00:00:00.000' AS DateTime), N'1405199710', CAST(N'2018-05-16 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Employees] ([EmployeeID], [PermissionID], [FirstName], [LastName], [BirthDay], [Sex], [Address], [Phone], [UrlAvatar], [CreateBy], [CreateDate], [EditBy], [EditDate], [Deleted]) VALUES (11, 8, N'Ngô Trung', N'Hưng', CAST(N'1997-12-12 00:00:00.000' AS DateTime), 0, N'asd', N'123456753', N'11.png', N'1405199710', CAST(N'2018-05-16 00:00:00.000' AS DateTime), N'1405199710', CAST(N'2018-05-16 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Employees] ([EmployeeID], [PermissionID], [FirstName], [LastName], [BirthDay], [Sex], [Address], [Phone], [UrlAvatar], [CreateBy], [CreateDate], [EditBy], [EditDate], [Deleted]) VALUES (12, 9, N'Mai Cồ', N'Tèo', CAST(N'1998-12-05 00:00:00.000' AS DateTime), 0, NULL, N'1234567890', N'0.png', N'1212199711', CAST(N'2018-05-17 00:00:00.000' AS DateTime), N'1212199711', CAST(N'2018-05-17 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionID], [PermissionName], [QuanLy], [ThuThu], [CreateBy], [CreateDate], [EditBy], [EditDate], [Deleted]) VALUES (7, N'Admin', 1, 1, N'admin', CAST(N'2018-05-16 00:00:00.000' AS DateTime), N'admin', CAST(N'2018-05-16 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Permissions] ([PermissionID], [PermissionName], [QuanLy], [ThuThu], [CreateBy], [CreateDate], [EditBy], [EditDate], [Deleted]) VALUES (8, N'Quản lý', 1, 0, N'admin', CAST(N'2018-05-16 00:00:00.000' AS DateTime), N'admin', CAST(N'2018-05-16 00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Permissions] ([PermissionID], [PermissionName], [QuanLy], [ThuThu], [CreateBy], [CreateDate], [EditBy], [EditDate], [Deleted]) VALUES (9, N'Thủ thư', 0, 1, N'admin', CAST(N'2018-05-16 00:00:00.000' AS DateTime), N'admin', CAST(N'2018-05-16 00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[BookTypes] ADD  CONSTRAINT [DF_BookTypes_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[BookTypes] ADD  CONSTRAINT [DF_BookTypes_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[HireDetails] ADD  CONSTRAINT [DF_HireDetails_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[HireDetails] ADD  CONSTRAINT [DF_HireDetails_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Specializeds] ADD  CONSTRAINT [DF_Specializeds_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Specializeds] ADD  CONSTRAINT [DF_Specializeds_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Accounts_dbo.Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_dbo.Accounts_dbo.Employees_EmployeeID]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.BookTypes_BookTypeID] FOREIGN KEY([BookTypeID])
REFERENCES [dbo].[BookTypes] ([BookTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.BookTypes_BookTypeID]
GO
ALTER TABLE [dbo].[BookTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookTypes_dbo.Specializeds_SpecializedID] FOREIGN KEY([SpecializedID])
REFERENCES [dbo].[Specializeds] ([SpecializedID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookTypes] CHECK CONSTRAINT [FK_dbo.BookTypes_dbo.Specializeds_SpecializedID]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Permissions_PermissionID] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Permissions_PermissionID]
GO
ALTER TABLE [dbo].[HireDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HireDetails_dbo.Books_BookID] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HireDetails] CHECK CONSTRAINT [FK_dbo.HireDetails_dbo.Books_BookID]
GO
ALTER TABLE [dbo].[HireDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HireDetails_dbo.Employees_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HireDetails] CHECK CONSTRAINT [FK_dbo.HireDetails_dbo.Employees_EmployeeID]
GO
ALTER TABLE [dbo].[HireDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HireDetails_dbo.Members_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HireDetails] CHECK CONSTRAINT [FK_dbo.HireDetails_dbo.Members_MemberID]
GO
/****** Object:  StoredProcedure [dbo].[sp_check_login]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_check_login]
@username varchar(30),
@password varchar(250)
AS
BEGIn
	DECLARE @result int = 0
	SET @password = CONVERT(VARCHAR(32), HASHBYTES('MD5', @password),2)
	SELECT  @result = COUNT(Username) from Accounts WHERE Username = @username and Password = @password and Deleted=0
	select @result
END
GO
/****** Object:  Trigger [dbo].[after_employee_insert]    Script Date: 5/17/2018 2:51:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[after_employee_insert]
ON [dbo].[Employees]
FOR INSERT
AS
BEGIN
	declare @username varchar(20), @password varchar(250), @id int, @birthday date, @strBirhtday varchar(20),
		@today date = getdate(), @createby varchar(30)
	select @id = EmployeeID, @birthday = BirthDay, @createby = CreateBy FROM inserted
	SET @strBirhtday = CONVERT(varchar, @birthday, 105)
	SET @strBirhtday = REPLACE(LTRIM(RTRIM(@strBirhtday)), '-','')
	SET @username = CONCAT(@strBirhtday,@id)
	SET @password = CONVERT(VARCHAR(32), HASHBYTES('MD5', @strBirhtday),2)
	INSERT INTO Accounts(EmployeeID, Username, Password, CreateBy, EditBy, EditDate) VALUES (@id, @username, @password, @createby, @createby, @today)
END
GO
