.container-details {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    transition: .3s ease;
    z-index: 1;
}
.container-show-details {
    background-color: white;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    top: 15%;
    left: 10%;
    max-height: 600px;
    overflow: auto;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .container-show-details {
        width: 50%;
        left: 25%;
    }
}