
body {
    padding: 0;
}

.section {
    padding: 0;
}

.row {
    margin: 0;
}

.table-data-center th, .table-data-center td {
    text-align: center;
}

.table-image-50 tbody > tr > td {
    line-height: 50px;
}

.button-250 {
    width: 250px;
}

.img-center-in-div {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    html, body, body > .container-fluid {
        height: 100%;
    }
    .row-header {
        height: 4%;
    }

    .row-section {
        height: 80%;
    }
    .col-content {
        height: 100%;
        overflow: auto;
    }
    .col-navigation {
        height: 100%;
    }
}
