<header>
    <div class="header">
        <div id="navbar">
            <div class="row" id="row1" style="width:100%;color:white;">
                <div class="col-sm-4" id="iconAC">

                </div>
                <div class="col-sm-8" style="padding:0px;">
                    <ul id="nav" style="list-style-type:none">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn"> Tài khoản <i class="fa fa-caret-down" style="font-size:18px;color:white"></i></a>
                            <div class="dropdown-content">
                                @Html.ActionLink("Thông tin", "Details", "User", new { }, new { })
                                @Html.ActionLink("Đổi mật khẩu", "ChangePassword", "User", new { id = Page.EmployeeID }, new { })
                                @Html.ActionLink("Đăng xuất", "Logout", "User", new { }, new { })
                            </div>
                        </li>
                        @if (Page.QuanLy == true)
                        {
                            <li>
                                @Html.ActionLink("Thiết lập", "Index", "Setting", new { }, new { @class = "" })
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>